---
import Image from "astro/components/Image.astro";
import Photo from "../assets/more/more-image-01.avif";
---

<section class="bg-gray-1 dark:bg-dark-2">
  <div class="container mx-auto px-6 py-10">
    <h1 class="text-2xl font-semibold capitalize text-gray-800 dark:text-white lg:text-3xl">
      Lepsze i wydajniejsze <br /> strony internetowe
    </h1>

    <div class="mt-2">
      <span class="inline-block h-1 w-40 rounded-full bg-primary"></span>
      <span class="ml-1 inline-block h-1 w-3 rounded-full bg-primary"></span>
      <span class="ml-1 inline-block h-1 w-1 rounded-full bg-primary"></span>
    </div>

    <div class="mt-8 lg:flex lg:items-center xl:mt-12">
      <div class="grid w-full grid-cols-1 gap-8 md:grid-cols-2 lg:w-1/2 xl:gap-16">
        <div class="space-y-3">
          <span
            class="inline-block rounded-xl bg-primary p-3 text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
              ></path>
            </svg>
          </span>

          <h3 class="text-xl font-semibold capitalize text-gray-700 dark:text-white">
            Czas ładowania
          </h3>

          <p class="text-gray-500 dark:text-gray-300">
            Krótszy czas ładowania oznacza większy ruch i więcej konwersji na stronie w dłuższej
            perspektywie.
          </p>
        </div>

        <div class="space-y-3">
          <span
            class="inline-block rounded-xl bg-primary p-3 text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z"></path>
            </svg>
          </span>

          <h3 class="text-xl font-semibold capitalize text-gray-700 dark:text-white">
            SEO
          </h3>

          <p class="text-gray-500 dark:text-gray-300">
            Szybsze witryny mogą pomóc w poprawie SEO i skuteczności reklam Google.
          </p>
        </div>

        <div class="space-y-3">
          <span
            class="inline-block rounded-xl bg-primary p-3 text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"
              ></path>
            </svg>
          </span>

          <h3 class="text-xl font-semibold capitalize text-gray-700 dark:text-white">
            Konwersje
          </h3>

          <p class="text-gray-500 dark:text-gray-300">
            Witryny ładują się natychmiastowo, w czasie krótszym niż 1 sekunda, co przekłada się na lepsze doświadczenia użytkowników i większą liczbę konwersji.
          </p>
        </div>

        <div class="space-y-3">
          <span
            class="inline-block rounded-xl bg-primary p-3 text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
              ></path>
            </svg>
          </span>

          <h3 class="text-xl font-semibold capitalize text-gray-700 dark:text-white">
            Bezkonkurencyjne wsparcie
          </h3>

          <p class="text-gray-500 dark:text-gray-300">
            Zadzwoń lub napisz w dowolnym momencie, bez drzew telefonicznych i robotów. Kiedy zadzwonisz, otrzymasz mnie - właściciela i dewelopera.
          </p>
        </div>
      </div>

      <div class="hidden lg:flex lg:w-1/2 lg:justify-center">
        <Image
        src={Photo}
        alt="Osoba pracująca przy biurku z długopisem i papierami. Planuje projekt"
        class="h-[28rem] w-[28rem] flex-shrink-0 rounded-full object-cover xl:h-[34rem] xl:w-[34rem]"
        width={1470} 
        height={980}  
        layout="responsive"  
      />
      
      </div>
    </div>
  </div>
</section>
