---
---
<div
    class="prose max-w-none dark:prose-invert prose-h1:mb-8 prose-h1:text-2xl prose-h1:font-bold prose-h1:text-dark prose-h1:dark:text-white prose-h1:no-underline sm:prose-h1:text-3xl md:prose-h1:text-[35px] md:prose-h1:leading-[1.28] prose-p:mb-6 prose-p:text-base prose-p:text-body-color prose-p:dark:text-dark-6 prose-h2:mb-6 prose-h2:text-2xl prose-h2:no-underline prose-h2:font-bold prose-h2:text-dark prose-h2:dark:text-white sm:prose-h2:leading-[40px] sm:prose-h2:text-[28px] prose-img:rounded-xl prose-a:text-blue-600 prose-headings:underline">
    <slot />
</div>
